services:
  - type: web
    name: remindmyrent
    env: python
    region: oregon
    plan: free
    buildCommand: |
      pip install --upgrade pip setuptools wheel
      pip install -r requirements.txt
    startCommand: gunicorn -c gunicorn.conf.py run:app
    envVars:
      - key: FLASK_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: remindmyrent-db
          property: connectionString
      - key: REDIS_URL
        fromService:
          name: remindmyrent-redis
          type: redis
          property: connectionString
