services:
  - type: web
    name: remindmyrent
    env: python
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
      flask db upgrade || echo "Skipping DB migration"
    startCommand: gunicorn --config gunicorn.conf.py "app:create_app"
    envVars:
      - key: FLASK_ENV
        value: production
      - key: SECRET_KEY
        generateValue: true
      - key: JWT_SECRET_KEY
        generateValue: true
      - key: SQLALCHEMY_DATABASE_URI
        fromDatabase:
          name: remindmyrent-db
          property: connectionString
      - key: REDIS_URL
        fromService:
          type: redis
          name: remindmyrent-redis
          property: connectionString
